
body{
  margin:0;
  font-family: "Arial",cursive;
}

.header{
    text-align: center;
    background-color: #f1f1f1;
    padding: 2%;
}

/* Style hd */
.hd{
  overflow: hidden;
  background-color: #333;
}

/* Style hd */
.hd a{
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}
/* Style hd */
.hd a:hover{
  background-color: #555;
  color:black;
}

/* Style hiya */
.hiya{
  float: left;
  width: 33.33%;
  padding;15px;
  background-color: #ddd;
  color: black;
}
/* Style hi */
.hi: after{
  content:open-quote;
  display:table;
  clear: both;
}

@media screen and (max-width):600px) {
  .hiya{
  width:100%;
}
}
